.drawer-container {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.drawer-item {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    height: 80%;
    width: 20%;
    transition: .2s ease-in-out all;
}
.drawer-item:hover {
    background-color: lightblue;
}
.close-container {
    margin: 0 auto;
}
.close-symbol {
    font-size: 2rem;
    color: darkgrey;
    transition: .2s ease-in-out all;
}
.close-symbol:hover {
    transform: scale(1.1);
    color: #F97A7A;
}
.nav-link {
    display: block;
    background-color: darkgrey;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}