.nav-container {
    display: flex;
    flex-direction: row;
}

.hamburger-menu {
    font-size: 2rem;
    color: #A8A8A8;
    justify-self: flex-start;
    margin: 1rem;
    transition: .2s ease-in-out all;
}
.hamburger-menu:hover {
    transform: scale(1.1);
}
.d-container {
    margin-left: auto;
    margin-bottom: auto;
    display: flex;
    color: #A8A8A8;
}
.d-item {
    background-color: rgba(38, 38, 38, .73);
    font-size: 1.1rem;
    padding: .5rem;
}
.d-item:nth-of-type(1) {
    border-right: 2px solid #707070;
}
.c-container {
    display: flex;
}
.visit-container {
    display: flex;
    align-self: center;
    transition: .2s ease-in-out all;
}
.visit-container:hover {
    transform: scale(1.1);
}
.visit-container img {
    height: 23px;
    padding-left: .5rem;
    margin: 0 auto;
}
.visit-txt {
    font-size: 1.1rem;
    margin-left: 2rem;
    color: #A9A9A9;
}